:root {
  --c-brand: #4d5ae5;
  --c-background-hero: #2e2f42;
  --c-background-secondary: #f4f4fd;
  --c-text: #434455;
  --c-hover: #404bbf;
  --c-label-form: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--c-text);
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  display: flex;
}

.container {
  padding: 24px 0 24px;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.header-link {
  display: inline-block;
  padding: 24px 0;
  color: var(--c-background-hero);
  text-decoration: none;
  line-height: 1.5;
  font-weight: 500;
}
.header-li-current {
  position: relative;
  color: var(--c-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-li-current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--c-hover);
  border-radius: 2px;
  content: "";
  width: 100%;
}
.header-link:hover {
  color: var(--c-hover);
  font-size: 16px;
  text-decoration: underline;
}
.header-link:focus {
  color: var(--c-hover);
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--c-brand);
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo .accent-logo {
  color: var(--c-background-hero);
}
.logo:hover,
.logo:focus {
  color: var(--c-hover);
  cursor: pointer;
}
.address {
  font-style: normal;
  padding: 24px 0;
}
.ul-address {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--c-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--c-hover);
  cursor: pointer;
}

/*hero section*/
.hero-section {
  background-color: var(--c-background-hero);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  max-width: 1440px;
  margin: auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 700;
  text-align: center;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.button-hero {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--c-brand);
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--c-hover);
  cursor: pointer;
}

/*Benefits section*/

.benefits-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-li {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-background-secondary);
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.benefits-subtitle {
  color: var(--c-background-hero);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Our Team section*/
.team-section {
  background-color: var(--c-background-secondary);
  padding: 120px 0;
}

.team-title {
  color: var(--c-background-hero);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-li {
  background-color: #fff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card {
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--c-background-hero);
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-li-social {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--c-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--c-hover);
}

.social-icon {
  fill: var(--c-background-secondary);
}
/*Portfolio section*/
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: var(--c-background-hero);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-about {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--c-background-secondary);
  padding: 40px 32px;
  background-color: var(--c-brand);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .portfolio-about {
  transform: translateY(0%);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-name {
  color: var(--c-background-hero);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*footer*/
.footer {
  background-color: var(--c-background-hero);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  color: var(--c-brand);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-logo .accent-footer {
  color: var(--c-background-secondary);
}

.footer-logo:hover {
  color: var(--c-hover);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--c-background-secondary);
  max-width: 264px;
}

.footer-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list-social {
  display: flex;
  gap: 16px;
}

.footer-li-social {
  width: 40px;
  height: 40px;
}

.footer-link-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-social:focus {
  background-color: #31d0aa;
}
.footer-link-social:hover {
  background-color: #31d0aa;
}

.footer-icon {
  fill: var(--c-background-secondary);
}
.subscribe {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}
.subscribe-form {
  gap: 24px;
  display: flex;
  align-items: center;
}

.subscribe-input {
  display: block;
  width: 264px;
  height: 40px;
  color: #ffffff;
  margin-right: 12px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

input::placeholder {
  color: #ffffff;
}

.buttom-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 10px 28px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--c-brand);
}

.subscribe-icon {
  top: 25%;
  margin-left: 16px;
  fill: var(--color-white);
}

/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/*.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--c-hover);
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover + .modal-close-icon,
.modal-close:focus + .modal-close-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--c-background-hero);
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-head-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--c-label-form);
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input:focus-within {
  border-color: #4d5ae5;
  outline: none;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  border-color: #4d5ae5;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-checkbox {
  display: flex;
  align-items: center;

  margin-bottom: 24px;
}

.modal-checkbox-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox-input:checked + .modal-checkbox-text .modal-checkbox-check {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-link {
  color: var(--c-brand);
}

.modal-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--c-brand);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
